import { navigate } from '@reach/router';
import React from 'react';
import { useDispatch, useSelector } from 'react-redux';

import * as selectors from '../../store/selectors';

{{#if cssFile}}
import classes from './style/{{pascalCase name}}.module.css';
{{/if}}
// eslint-disable-next-line @typescript-eslint/no-empty-interface
interface I{{pascalCase name}}Props {
  exa?: string;
}

const {{pascalCase name}}: React.FunctionComponent<I{{pascalCase name}}Props> = (props) => {
  // TOOLS
  const dispatch = useDispatch();

  // PROPS
  const { exa } = props;

  // STATE
  const [example, setExample] = React.useState('');

  // SELECTORS
  const web3State = useSelector(selectors.web3State);
  const { web3, accounts, nftMarketSimpleContract } = web3State.web3.data;
  const userAddress = accounts[0];

  // VIEW
  return (
	  <div {{#if cssFile}}className={classes.root}{{/if}}>
		  <h1>{{pascalCase name}}</h1>
	  </div>
	);
};

export default {{pascalCase name}};
